---
import { getAllMatch } from '@services/schedule.js'
import LastMatchRow from '@components/LastMatchRow.astro'

const { league, teamId } = Astro.props

const schedule = await getAllMatch({league})
---

{
  schedule
    .filter(fecha => fecha.matches.some(match => (match.teams[0].id === teamId || match.teams[1].id === teamId) && match.score.includes('-')))
    .reverse()
    .slice(0,1)
    .map((fecha) => {
      return (
          <div class='w-full my-8'>
            {fecha.matches
              .filter(match => (match.teams[0].id === teamId || match.teams[1].id === teamId) && match.score.includes('-'))
              .map((match) => (
                <LastMatchRow
                  local={match.teams[0]}
                  visitant={match.teams[1]}
                  score={match.score}
                  date={match.date}
                  hour={match.hour}
                  round={fecha.fecha}
                />                                
              ))
            }
          </div>
      )
    })
}
