---
const { local, visitant, score ,hourMatch, date } = Astro.props;
---


	<div class="shadow-md p-4 my-2 bg-white rounded-2xl">

		<div class="grid items-center gap-4" style="grid-template-columns: 1fr auto 1fr;">
				
				<div class="flex gap-1 items-center group transition-all justify-end hover:scale-110">
			
					<p class="text-right font-semibold">
						{local.name}	
					</p>
		
					<img
				class='h-8 object-contain my-2'
				src={`https://api.lbdtwplus.com.ar/static/logos/${local.id}.svg`}
				alt={`Escudo del equipo ${local.name}`}
			/>	
				</div>

				
				<div class='text-center rounded-sm p-2'>
<p>Hora</p>
				</div>
				
				<div class="flex gap-1 items-center group transition-all justify-start hover:scale-110">
					<img
					class='h-8 object-contain my-2'
					src={`https://api.lbdtwplus.com.ar/static/logos/${visitant.id}.svg`}
					alt={`Escudo del equipo ${visitant.name}`}
				/>	
					<p class="text-rigth font-semibold">
						{visitant.name}	
					</p>
		
					
				</div>
					

			</div>

	</div>