---
import { getMatchsToday } from '@services/matchstoday.js'
import MatchsTodayRow from '@components/MatchsTodayRow.astro'

const matchsToday = await getMatchsToday()
---

{
  matchsToday.map((matchs) => {
    return (
      <section class='my-2'>
        <h2 class='font-bold text-xl my-0'>{matchs.competition}</h2>
        <div class="overflow-scroll p-4 scrollbar-hide">
          
          <div class="swiper w-full h-full grid xl:grid-cols-2 gap-2 snap-mandatory scroll-m-4">
            {matchs.matches.map((match) => ( 
              <MatchsTodayRow
                local={match.teams[0]}
                visitant={match.teams[1]}
                hour={match.hour}
                date={match.date}
                hourMatch={match.hourMatch}
                round= {matchs.fecha}
                />
                
            ))}
          </div>
        </div>
      </section>
    )
  })
}