---
const { local, visitant, score ,hour, date } = Astro.props;
---


	<div class="shadow-md p-4 my-2 bg-white rounded-2xl">

		<div class="flex justify-between items-center gap-4" >

			<div>
				<div class="flex gap-1 items-center group transition-all hover:scale-110">

					<img
						class='h-8 object-contain my-2'
						src={ local.name.name !==  undefined ? 
						`https://api.lbdtwplus.com.ar/static/logos/${local.name.id}.svg` :
						`https://www.promiedos.com.ar/images/64/${local.localImgId}`}
						alt={`Escudo de ${local.name.name}`}
					/>


					<p class="text-right font-semibold">	
						{local.name.name !==  undefined ? `${local.name.name}` : `${local.name}`}
					</p>

				</div>

				<div class="flex gap-1 items-center group transition-all justify-start hover:scale-110">
					<img
					class='h-8 object-contain my-2'
					src={ visitant.name.name !==  undefined ? 
						`https://api.lbdtwplus.com.ar/static/logos/${visitant.name.id}.svg` :
						`https://www.promiedos.com.ar/images/64/${visitant.visitantImgId}`}
					alt={`Escudo de ${visitant.name.name}`}
				/>
					<p class="text-rigth font-semibold">	
						{visitant.name.name !==  undefined ? `${visitant.name.name}` : `${visitant.name}`}
					</p>
		
					
				</div>

			</div>
				
			
			<div class='flex h-full items-center gap-2 rounded-sm p-2'>				
				<p class="font-semibold">{hour}</p>
				{local.localScore !== '' || visitant.visitantScore !== ''
					?
					<div class='text-center flex flex-col justify-between rounded-sm h-full'>
						<p>{local.localScore}</p><p>{visitant.visitantScore}</p>
					</div> 
					: null }
			
			</div>
				

				
				
					

				

				
				
					

			</div>

	</div>