---
import { getAllMatch } from '@services/schedule.js'
import MatchsTodayRow from '@components/MatchsTodayRow.astro'

const { league } = Astro.props

const matchsToday = await getAllMatch({league})

const today = new Date().toLocaleDateString(undefined, {timeZone: 'America/Buenos_Aires'}).split('/').reverse().join('-');

console.log(today)

---

{
  matchsToday
  .filter(fecha => fecha.matches.some(match => !match.score.includes('-')))
  .slice(0, 1)
  .map((matchs) => {
    return (
      <section class='my-2'>

          
        <h2 class=" font-bold  rounded-lg p-4 w-full text-left">{league}</h2>
        
        <div class="content">
          
          <div class="swiper w-full h-full grid xl:grid-cols-2 snap-mandatory scroll-m-4">
            {matchs.matches
                .filter(match => {
                  const matchDate = new Date(match.timestamp);
                  const matchDateString = matchDate.toLocaleDateString(undefined, {timeZone: 'America/Buenos_Aires'}).split('/').reverse().join('-');
                  return matchDateString === today;
                })

              .map((match) => (    

              <MatchsTodayRow
                local={match.teams[0]}
                visitant={match.teams[1]}
                hour={match.hour}
                date={match.formattedDate}
                hourMatch={match.hourMatch}
                round= {matchs.fecha}
                score={match.score}                
                />       
                         
            ))}
          </div>
        </div>
      </section>
    )
  })
}