---
import { getNextMatch } from "@services/nextmatch.js";

const teams = await getNextMatch();

---

{
    teams.slice(0, 1).map((team) => {
        const { competition, formattedDate, visitantTeam, localTeam, hourMatch } = team;

       return (

<div class="grid gap-4 p-4 md:p-8 bg-[#0598D1] shadow-md rounded-3xl" style="grid-template-columns: 1fr 30%;">
    <div class="w-full">
        <span class="bg-white text-gray-800 text-md font-medium mr-2 px-2.5 py-0.5 rounded-full">⚽ Próximo Partido</span>

        <div>
            <h3 class="font-black text-white text-xl"> {localTeam.name} <span class="font-light text-md">vs</span> {visitantTeam.name}</h3>

            <p class=" text-white"> {hourMatch}</p>
            <p class=" text-white">{formattedDate}</p>
            <p class=" text-white">{competition}</p>

            

        </div>
    </div>
    <div class="flex justify-center items-center mb-5 -space-x-8  md:-space-x-16">
        <img class="w-16 h-16 md:w-40 md:h-40 drop-shadow-lg" src={localTeam.image} alt="">
        <img class="w-16 h-16 md:w-40 md:h-40 drop-shadow-lg" src={visitantTeam.image} alt="">
    </div>
</div>

);
})
    }

