---
import { getMatchsToday } from '@services/matchstoday.js'
import { getAllLeagues } from '@services/leagues.js'
import MatchsTodayRow from '@components/MatchsTodayRow.astro'

const matchsToday = await getMatchsToday()
const allLeagues = await getAllLeagues()
const leagueNames = allLeagues.map((league) => league.name)
const filteredMatchs = matchsToday.filter((matchs) => leagueNames.includes(matchs.competition))

---

{
  matchsToday
  .filter((matchs) => {
    if (filteredMatchs.length === 0) {
      return true;
    } else {
      return !leagueNames.includes(matchs.competition);
    }
  })
  .map((matchs) => {
    return (
      <section class='my-2'>

          
        <h2 class=" font-bold w-full text-left">{matchs.competition}</h2>
        
        <div class="content">
          <div class="swiper gap-4 w-full h-full grid xl:grid-cols-2 snap-mandatory scroll-m-4">
            {matchs.matches
              .map((match) => (    

              <MatchsTodayRow
                local={match.teams[0]}
                visitant={match.teams[1]}
                hour={match.hour}
                date={match.formattedDate}
                hourMatch={match.hourMatch}
                round= {matchs.fecha}
                score={match.score}             
                />
                
            ))}
          </div>
        </div>
      </section>
    )
  })
}