---
const { local, score, visitant, date, hour } = Astro.props

const fecha = `${hour} ${date}`
---

	<div class="shadow-md p-4 rounded-xl">
		<div class="flex justify-between">
			<img
				class='h-8 object-contain my-2'
				src={`https://api.lbdtwplus.com.ar/static/logos/${local.shortName}.png`}
				alt={`Escudo del equipo ${local.name}`}
			/>

			<div class="flex gap-2">
				<p class="text-right font-semibold">
					{local.name}	
				</p>
				
				<p>-</p>
				
				<p class="text-left font-semibold">
					{visitant.name}	
				</p>
			</div>

				<img
				class='h-8 object-contain'
				src={`https://api.lbdtwplus.com.ar/static/logos/${visitant.shortName}.png`}
				alt={`Escudo del equipo ${visitant.name}`}
				/>

		</div>
		<p class='text-center text-xs bg-gray-200 rounded-sm p-2'>
			{date !== 'NaN undefined' ? fecha : score }
		</p>
	</div>