---
const { local, score, visitant, date, hourMatch  } = Astro.props
---

<div class="shadow-md p-4 rounded-xl bg-white">

	<div class="grid items-center gap-4" style="grid-template-columns: 1fr auto 1fr;">
		
		<a href={`/equipos/${local.id}`} class="flex gap-1 items-center group transition-all justify-end hover:scale-110">
			
			<p class="text-right font-semibold">
				{local.name}	
			</p>

			<img
		class='h-8 w-8 object-contain my-2'
		src={`https://api.lbdtwplus.com.ar/static/logos/${local.id}.svg`}
		alt={`Escudo del equipo ${local.name}`}
	/>	
		</a>
		
		<div class='text-center rounded-sm p-2'>

			
			<p class="text-gray-400 uppercase text-sm">{ score.includes("-") || score.includes("Aplazado") ? '' : date }</p>
			<p class="text-[#0598D1] text-xl">{ score.includes("-") || score.includes("Aplazado") ? score : hourMatch }</p>
			<h3 class='animate-fadeIn animate-delay-200 italic text-white/80 text-lg -rotate-[10deg]'>
			</h3>
		</div>
		
		<a href={`/equipos/${visitant.id}`} class="flex gap-1 items-center group transition-all hover:scale-110">
			
			<img
		class='h-8 w-8 object-contain'
		src={`https://api.lbdtwplus.com.ar/static/logos/${visitant.id}.svg`}
		alt={`Escudo del equipo ${visitant.name}`}
		/>
			<p class="text-left font-semibold">
				{visitant.name}	
			</p>
			
		</a>

	</div>

</div>