---
const { local, score, visitant, date, hour } = Astro.props

const fecha = `${hour} ${date}`
---

	<div class="shadow-md p-4 rounded-xl">

			<div class="grid grid-cols-2">
				
				<a href={`/equipos/${local.shortName}`} class="flex gap-1 items-center group transition-all hover:scale-110">
					<img
				class='h-8 object-contain my-2'
				src={`https://api.lbdtwplus.com.ar/static/logos/${local.shortName}.webp`}
				alt={`Escudo del equipo ${local.name}`}
			/>
					<p class="text-right font-semibold">
						{local.name}	
					</p>
				</a>
				
				<!-- <p>-</p> -->
				
				<a href={`/equipos/${visitant.shortName}`} class="flex gap-1 items-center group transition-all hover:scale-110">
					<p class="text-left font-semibold">
						{visitant.name}	
					</p>
					<img
				class='h-8 object-contain'
				src={`https://api.lbdtwplus.com.ar/static/logos/${visitant.shortName}.webp`}
				alt={`Escudo del equipo ${visitant.name}`}
				/>
				</a>
			</div>

		<p class='text-center text-xs bg-gray-200 rounded-sm p-2'>
			{date !== 'NaN undefined' ? fecha : score }
		</p>
	</div>