---
import { getAllMatch } from '@services/schedule.js'
import ScheduleRow from '@components/ScheduleRow.astro'

const {  league } = Astro.props

const schedule = await getAllMatch ({league})

---

{
	schedule.map((fecha) => {
		return (
			<section>
				<h2 class='font-bold text-xl my-8'>Fecha {fecha.fecha}</h2>
				<section class="grid grid-cols-1 md:grid-cols-3 gap-6 ">

						{fecha.matches.map((match) => (
							
							<ScheduleRow
								local={match.teams[0]}
								visitant={match.teams[1]}
								score={match.score}
								date={match.formattedDate}
								hour={match.hour}
								hourMatch={match.hourMatch}
								
							/>
						))}

				</section>
			</section>
		)
	})
}

