---
// const response = await fetch( 'https://api.lbdtwplus.com.ar/leaderboardLPF' );
// const leaderboardLPF = await response.json();

import { findLeaderboardBy } from '@services/leaderboardAuto.js'

const { shortName, league, nameZona } = Astro.props
const leaderboard = await findLeaderboardBy({shortName})

const zonaA = leaderboard["zonaA"];
---


{
    Object.keys(leaderboard).map((zona) => (
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h2>Zona {zona}</h2>

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 bg-white">
            <tr>
                <th scope="col" class="px-2 py-3">
                    #
                </th>
                <th scope="col" class="px-2 py-3 text-left">
                    Equipo
                </th>
                <th scope="col" class="px-2 py-3">
                    Pts.
                </th>
                <th scope="col" class="px-2 py-3">
                    PJ
                </th>
                <th scope="col" class="px-2 py-3">
                    PG
                </th>
                <th scope="col" class="px-2 py-3">
                    PE
                </th>
                <th scope="col" class="px-2 py-3">
                    PP
                </th>
                <th scope="col" class="px-2 py-3">
                    GF
                </th>
                <th scope="col" class="px-2 py-3">
                    GC
                </th>
                <th scope="col" class="px-2 py-3">
                    Dif.
                </th>
            </tr>
        </thead>
        <tbody>
        

          {leaderboard[zona].map((team) => (
            <tr class={`bg-white border-b  hover:bg-gray-50 `}>
                <th scope="row" class="px-2 py-4 font-bold text-teal-600">
                    <div class="font-normal text-gray-500 text-center">
                        {team.rank}
                    </div>
                </th>
                <th scope="row" class=" px-2 py-4 text-gray-900 whitespace-nowrap">
                    <a
                        href={`/equipos/${team.team.id}`}
                        class="flex gap-1 items-center group transition-all hover:scale-105"
                    >
                    <img src={team.team.image} alt={`Escudo de ${team.team.name}`} class=" w-6" width="24" height="24">
                    <div class="font-normal hidden md:block">{team.team.name}</div>
                    <div class="font-normal md:hidden">{team.team.shortName}</div>
                    </a>
                </th>
                <th scope="row" class="px-2 py-4 font-black text-teal-600">
                    {team.points}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.matchesPlayed}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.matchesWon}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.matchesDrawn}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.matchesLost}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.goalsFor}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.goalsAgainst}
                </th>
                <th scope="row" class="font-normal px-2 py-4 text-gray-900 whitespace-nowrap">
                    {team.goalDifference}
                </th>
            </tr>
          ))}

          </tbody>
          </table>
      </div>
    ))
  }
  