---
import ScheduleTeam from "@components/ScheduleTeam.astro"
import LastMatchTeam from "@components/LastMatchTeam.astro"
import Table from "@components/Table.astro"
import NextMatchTeam from "./NextMatchTeam.astro";

const { color, teamId, league } = Astro.props
---

<!-- Tab links -->
<div class="tab flex justify-center text-white" style={`background:${color}`}>
    <button class="tablinks" onclick="openCity(event, 'General')" id="defaultOpen">General</button>
    <button class="tablinks" onclick="openCity(event, 'Posiciones')" >Posiciones</button>
    <button class="tablinks" onclick="openCity(event, 'Fixture')">Fixture</button>
    <button class="tablinks" onclick="openCity(event, 'Club')">Club</button>
</div>
  
  <!-- Tab content -->
  <div id="General" class="tabcontent">
    <div class="grid gap-4 grid-cols-2">   
        <LastMatchTeam teamId={teamId} league={league}></LastMatchTeam>
        <NextMatchTeam teamId={teamId} league={league}></NextMatchTeam>  
    </div>
  </div>
  
  <div id="Fixture" class="tabcontent">
    <ScheduleTeam teamId={teamId} league={league}></ScheduleTeam>
  </div>
  
  

  <div id="Posiciones" class="tabcontent">
    <Table shortName={league}/>
  </div>
  
  <div id="Club" class="tabcontent">
    Info del Club
  </div>

  <script is:inline>
    function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

  

  <style>
    /* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
}

/* Create an active/current tablink class */
.tab button.active {
  opacity: 1;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
  </style>