---
import NextMatchTeam from "@components/NextMatchTeam.astro"
import TabsTeams from "@components/TabsTeams.astro"
import Layout from "@layouts/Layout.astro"

export async function getStaticPaths() {
    const response = await fetch('https://api.lbdtwplus.com.ar/teams')
    const teams = await response.json()

return teams.map(team => ({
    params: { teamId: team.id},
    props: {... team}
}))
}

const {
    id,
    name,
    imageWhite,
    color,
    league
}
    = Astro.props
---

<Layout title={name}>
    
    <div class="flex items-center flex-col p-4" style={`background:${color}`}>
        <img src={imageWhite} class="w-32 h-32" alt={`Escudo de ${name}`}>
        <h1 class="text-white font-bold text-2xl">{name}</h1>
    </div>
    
    <TabsTeams color={color} teamId={id} league={league} />
    
</Layout>