---
import ScheduleTeam from "@components/ScheduleTeam.astro"
import TeamStats from "@components/TeamStats.astro"
import Layout from "@layouts/Layout.astro"

export async function getStaticPaths() {
    const response = await fetch('https://api.lbdtwplus.com.ar/teams')
    const teams = await response.json()

return teams.map(team => ({
    params: { teamId: team.id},
    props: {... team}
}))
}

const {
    id,
    name,
    image,
    shortName,
    color,
}
    = Astro.props
---

<Layout title={name}>

    <div style={`background:${color}`}>
        <img src={image} alt="">
        <h1>{name}</h1>   
        
    </div>
    <TeamStats teamId={id} />
    <ScheduleTeam teamId={id}></ScheduleTeam>


</Layout>